body {
  font-family: Helvetica, Arial;
}
a {
  text-decoration: none;
  text-decoration-line: none;
  color: #7d0202;
}
a:visited,
a:active {
  color: #4d004d;
}
a:hover {
  color: #d20304;
}
a.more {
  white-space: nowrap;
}
.light {
  font-family: Helvetica Neue Light, Helvetica, Arial;
  font-weight: 300;
  color: #a6a6a6;
}
.page_title {
  display: inline-block;
  margin-right: 15px;
}
.page_subtitle {
  display: inline-block;
  color: #a6a6a6;
  font-size: 22px;
}
.wrapper {
  width: 700px;
  margin: 0 auto;
}
.article {
  margin-bottom: 25px;
}
h2.title {
  font-size: 22px;
  margin-bottom: -10px;
}
.timestamp {
  font-size: 12px;
}
a.more {
  display: inline-block;
  font-size: 12px;
}
