body {
  font-family: Helvetica, Arial;
}
a {
  text-decoration: none;
  text-decoration-line: none;
  color: #7d0202;
}
a:visited,
a:active {
  color: #4d004d;
}
a:hover {
  color: #d20304;
}
a.more {
  white-space: nowrap;
}
.light {
  font-family: Helvetica Neue Light, Helvetica, Arial;
  font-weight: 300;
  color: #a6a6a6;
}
h2 {
  font-size: 18px;
}
.wrapper {
  margin-left: 30px;
  margin-right: 30px;
}
.article {
  margin-bottom: 40px;
}
h1.title {
  font-size: 30px;
  margin-bottom: -10px;
}
.timestamp {
  font-size: 12px;
}
a.more {
  display: inline-block;
  font-size: 12px;
  white-space: nowrap;
}
